<header class="container-fluid d-flex justify-content-between align-items-center">
  <ul class="menu">
    <li class="menu__item">
      <a href="" class="menu__link">
        <i class="logo fa-brands fa-wolf-pack-battalion"></i>
      </a>
    </li>
    <li class="menu__item">
      <a href="" class="menu__link active">
        Về Moki Tech
      </a>
    </li>
    <li class="menu__item">
      <a href="" class="menu__link">
        Tra cứu bảo hành
      </a>
    </li>
    <li class="menu__item">
      <a href="" class="menu__link">
        Quản lý sản phẩm
      </a>
    </li>
    <li class="menu__item">
      <a href="" class="menu__link">
        Quản lý người dùng
      </a>
    </li>
  </ul>
  <div class="menu__user d-flex">
    <div class="cart mx-4">
      <p routerLink="/cart"><i class="fa-brands fa-shopify"></i></p>
    </div>
    <div class="login">
      <div class="account__info">
        <p class="note hello">Xin chào</p>
        <p *ngIf="checkLogin">{{nameLogin}}</p>
      </div>
      <div class="account__avatar">
        <img class="d-block" src="./assets/images/ava1.jpg" alt="">
        <div class="account__ex">
          <i class="connect fa-solid fa-caret-up"></i>
          <ul class="menu__ex">
            <li class="menu__ex__item">
              <p class="menu__ex__link">Thông tin cá nhân</p>
            </li>
            <li class="menu__ex__item">
              <p class="menu__ex__link">Lịch sử mua hàng</p>
            </li>
            <li class="menu__ex__item">
              <p class="menu__ex__link">Đăng xuất</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!checkLogin">
    <button routerLink="login">Đăng nhập</button>
  </div>
</header>
