<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12">
      <form class="form__search" *ngIf="rfSearch" [formGroup]="rfSearch" (ngSubmit)="search()">
        <ul class="menu__search--logo">
          <li class="menu__search--item active">
            <p class="menu__search--link">Tất cả</p>
          </li>
          <li class="menu__search--item">
            <img class="menu__search--link" src="./assets/images/logo-macbook-149x40.png" alt="">
          </li>
          <li class="menu__search--item">
            <img class="menu__search--link" src="./assets/images/logo-dell-149x40.png" alt="">
          </li>
          <li class="menu__search--item">
            <img class="menu__search--link" src="./assets/images/logo-lenovo-149x40.png" alt="">
          </li>
          <li class="menu__search--item">
            <img class="menu__search--link" src="./assets/images/logo-asus-149x40.png" alt="">
          </li>
          <li class="menu__search--item">
            <img class="menu__search--link" src="./assets/images/logo-hp-149x40-1.png" alt="">
          </li>
          <li class="menu__search--item">
            <img class="menu__search--link" src="./assets/images/logo-acer-149x40.png" alt="">
          </li>
          <li class="menu__search--item">
            <img class="menu__search--link" src="./assets/images/logo-msi-149x40.png" alt="">
          </li>
          <li class="menu__search--item">
            <img class="menu__search--link" src="./assets/images/logo-surface-149x40-1.png" alt="">
          </li>
          <li class="menu__search--item">
            <img class="menu__search--link" src="./assets/images/logo-itel-149x40.png" alt="">
          </li>
        </ul>
        <div class="d-flex flex-wrap w-50">
          <div class="w-50 search__group">
            <input formControlName="nameSearch" type="text" class="input__search w-100 mb-3" placeholder="Bạn muốn tìm gì?">
            <button type="submit" class="btn-search">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
          <div class="w-50 search__group">
            <select formControlName="priceSearch" name="" id="" class="w-100 mb-3 select__search" (change)="search()">
              <option [value]="'0,300000000'">Tất cả mức giá</option>
              <option [value]="'0,10000000'">Dưới 10 triệu</option>
              <option [value]="'10000000,15000000'">Từ 10 đến 15 triệu</option>
              <option [value]="'15000000,20000000'">Từ 15 đến 20 triệu</option>
              <option [value]="'20000000,25000000'">Từ 20 đến 25 triệu</option>
              <option [value]="'25000000,35000000'">Từ 25 đến 35 triệu</option>
              <option [value]="'35000000,300000000'">Trên 35 triệu</option>
            </select>
          </div>
          <div>
            <ul class="menu__search--size" *ngIf="sizeInchList">
              <li class="search__size--item active mt-1" >
                <input [disabled]="checkAll.checked" type="checkbox" checked id="all-search-inch" (change)="checkSizeAll($event)" #checkAll>
                <label for="all-search-inch"  style="margin-left: 4px">
                  <span>Tất cả</span>
                </label>
              </li>
              <li *ngFor="let sizeInch of sizeInchList, index as i" class="mt-1 search__size--item search__size--item{{i}}">
                <input (change)="alo(sizeInch.id, checkAll, i)" formControlName="inchSearch" id="inchSearch{{i}}" class="check__sizeInch" type="checkbox" [value]="sizeInch.id" name="size-inch">
                <label for="inchSearch{{i}}" style="margin-left: 4px">
                  <span>{{sizeInch.name}} inch</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row product__list">
    <div *ngFor ="let productGroup of productGroups, index as i" class="col-lg-3 mt-4">
      <div class="my__card">
        <div class="card__header">
          <img class="d-block w-100" src="{{productGroup.urlImgs}}" alt="">
        </div>
        <div class="card__body">
          <div class="product__price">
            <p class="product__price--now">{{productGroup.price| number}} <sup>đ</sup></p>
            <p class="product__price--discount">
              <span class="price--discount">{{productGroup.price + productGroup.price * 0.2 | number}} <sup>đ</sup></span>
              <span>2 ngày 20h : 34p : 33</span>
            </p>
          </div>
          <div class="product__title">
            <p  [routerLink] = "['/product-detail', productGroup.id]">{{productGroup.name}}</p>
          </div>
          <div class="product__configuration">
            <div class="product__propertie">
              <i class="fa-solid fa-laptop-code"></i>
              <span>{{productGroup.size}} inch</span>
            </div>
            <div class="product__propertie">
              <i class="fa-solid fa-microchip"></i>
              <span *ngIf="productGroupDetail.length > 0">{{productGroupDetail[i]?.cpuName}}</span>
            </div>
            <div class="product__propertie">
              <i class="fa-solid fa-microchip"></i>
              <span>{{productGroupDetail[i]?.gpuName}}</span>
            </div>
            <div class="product__propertie">
              <i class="fa-solid fa-memory"></i>
              <span>{{productGroupDetail[i]?.ram}} GB</span>
            </div>
            <div class="product__propertie">
              <i class="fa-solid fa-weight-hanging"></i>
              <span>{{productGroup.weight}} kg</span>
            </div>
          </div>
        </div>
        <div class="card__footer">
          <button routerLink="/product-detail" class="product__pay">Mua Ngay</button>
        </div>
      </div>
    </div>
    <div class=" mt-4 mb-4 d-flex justify-content-center col-lg-12">
      <button hidden class="view__more">Xem thêm</button>
    </div>
  </div>
</div>
