<div class="aap__login">
  <form action="" class="login__form">
    <div class="login__header">
      <!-- <h3 class="text-center login__heading">Đăng Nhập</h3> -->
      <p class="text-center mt-4">
        <i class="logo fa-brands fa-wolf-pack-battalion"></i>
      </p>
    </div>
    <div class="login__body w-100">
      <div class="input__group">
        <label for="login__user">Tài khoản</label>
        <input type="text" id="login__user" placeholder="Nhập tài khoản hoặc email">
      </div>
      <div class="input__group">
        <label for="login__Password">Mật khẩu</label>
        <input type="password" id="login__Password" placeholder="Nhập mật khẩu">
      </div>
      <div class="login__remember">
        <span><span class="sign__up">Đăng ký</span> nếu bạn chưa có tài khoản.</span>
        <div class="d-flex align-items-center">
          <input type="checkbox" id="login__remember">
          <label for="login__remember">Ghi nhớ đăng nhập.</label>
        </div>

      </div>
      <div class="login__google">
        <span>Đăng nhập với <i class="fa-brands fa-google"></i></span>
      </div>
    </div>
    <div class="login__footer w-100 flex-wrap">

      <button class="btn_login">Đăng Nhập</button>
    </div>
  </form>

</div>
