<div class="container mt-4">
  <div class="row">
    <div class="col-lg-8">
      <div class="images">
        <ul class="images__list">
          <li class="images__item active">
            <img class="images__img" src="./assets/images/mac1.webp" alt="">
          </li>
          <li class="images__item">
            <img class="images__img" src="./assets/images/mac2.webp" alt="">
          </li>
          <li class="images__item">
            <img class="images__img" src="./assets/images/mac3.webp" alt="">
          </li>
          <li class="images__item">
            <img class="images__img" src="./assets/images/map4.webp" alt="">
          </li>
          <li class="images__item">
            <img class="images__img" src="./assets/images/mac5.webp" alt="">
          </li>
        </ul>
        <div class="show__image">
          <img src="./assets/images/mac1.webp" alt="">
        </div>
      </div>
      <div class="product__configuration">
        <p class="color__primary x-2">
          Cấu hình & đặc điểm
        </p>
        <div class="product__detail">
          <div class="product__propertie">
            <div class="product__propertie--title">
              <i class="fa-solid fa-laptop-code"></i>
              <span class="product__detail--title">Màn hình</span>
            </div>
            <p>13.3", 3200 x 2100 px, IPS, 100% sRGB, 120 Hz</p>
          </div>
          <div class="product__propertie">
            <div class="product__propertie--title">
              <i class="fa-solid fa-microchip"></i>
              <span class="product__detail--title">Vi xử lý (CPU)</span>
            </div>
            <p>Apple M1 10 nhân</p>
          </div>
          <div class="product__propertie">
            <div class="product__propertie--title">
              <i class="fa-solid fa-microchip"></i>
              <span class="product__detail--title">Dồ Họa</span>
            </div>
            <p>Apple M1, 12 nhân</p>
          </div>
          <div class="product__propertie">
            <div class="product__propertie--title">
              <i class="fa-solid fa-memory"></i>
              <span class="product__detail--title">Ram</span>
            </div>
            <p>32GB - Hãng không công bố thông số</p>
          </div>
          <div class="product__propertie">
            <div class="product__propertie--title">
              <i class="fa-solid fa-weight-hanging"></i>
              <span class="product__detail--title">Trọng lượng</span>
            </div>
            <p>1.29 kg</p>
          </div>
          <div class="product__propertie">
            <div class="product__propertie--title">
              <i class="fa-solid fa-battery-full"></i>
              <span class="product__detail--title">Pin</span>
            </div>
            <p>Hoạt động liên tục 12h</p>
          </div>
          <div class="product__propertie">
            <div class="product__propertie--title">
              <i class="fa-solid fa-server"></i>
              <span class="product__detail--title">Dung lượng</span>
            </div>
            <p>500Gb SSD</p>
          </div>
          <div class="product__propertie">
            <div class="product__propertie--title">
              <i class="fa-solid fa-fingerprint"></i>
              <span class="product__detail--title">Vân tay</span>
            </div>
            <p>Có</p>
          </div>

        </div>
        <div class="mt-4 mb-4">
          <p class="text-center color__primary view__detail">Xem cấu hình chi tiết <span><i class="fa-solid fa-angles-right"></i></span></p>
        </div>
        <div class="mt-4 mb-4">
          <p class="color__primary view__detail x-2">Mô tả sản phẩm</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="security mb-4 w-100">
        <div class="security--title security">
          <i class="fa-solid fa-shield"></i>
          <span class="security--title">Bảo hành</span>
        </div>
        <p>Bảo hành 12 tháng tại <span class="color__primary">Moki Tech</span></p>
        <p>Đổi mới trong 15 ngày đầu tiên</p>
      </div>
      <div class="product__detail--name mb-2">
        <p class="color__dark x-2">MacBook Pro 13 inch M2 2022</p>
      </div>
      <div class="product__detail--price mb-4">
        <p class="color__primary x-2">32.000.000 đ</p>
      </div>
      <div class="product__detail--color mb-4">
        <p class="color__primary">Màu sắc</p>
        <div class="product__colors">
          <p class="product__color active product__color--gray"></p>
          <p class="product__color product__color--gold"></p>
          <p class="product__color product__color--white"></p>
        </div>
      </div>
      <div class="product__detail--config mb-4">
        <p class="color__primary text-center w-100">Chọn cấu hình</p>
        <div class="configurations">
          <div class="configurations--item">
            <div class="configuration--item active">
              <p>
                <i class="fa-solid fa-circle"></i>
                CPU Apple M1 10 nhân
              </p>
              <p>
                <i class="fa-solid fa-circle"></i>
                GPU Apple M1 10 nhân
              </p>
              <p class="d-flex justify-content-between">
                                    <span>
                                        <i class="fa-solid fa-circle"></i>
                                        RAM 16GB
                                    </span>
                <span>
                                        <i class="fa-solid fa-circle"></i>
                                        SSD 1TB
                                    </span>

              </p>
              <p class="text-center color__primary x-m">32.000.000 đ</p>
            </div>
          </div>
          <div class="configurations--item">
            <div class="configuration--item">
              <p>
                <i class="fa-solid fa-circle"></i>
                CPU Apple M1 10 nhân
              </p>
              <p>
                <i class="fa-solid fa-circle"></i>
                GPU Apple M1 10 nhân
              </p>
              <p class="d-flex justify-content-between">
                                    <span>
                                        <i class="fa-solid fa-circle"></i>
                                        RAM 32GB
                                    </span>
                <span>
                                        <i class="fa-solid fa-circle"></i>
                                        SSD 1TB
                                    </span>

              </p>
              <p class="text-center  color__primary x-m">33.000.000 đ</p>
            </div>
          </div>
          <div class="configurations--item">
            <div class="configuration--item">
              <p>
                <i class="fa-solid fa-circle"></i>
                CPU Apple M1 16 nhân
              </p>
              <p>
                <i class="fa-solid fa-circle"></i>
                GPU Apple M1 16 nhân
              </p>
              <p class="d-flex justify-content-between">
                                    <span>
                                        <i class="fa-solid fa-circle"></i>
                                        RAM 64GB
                                    </span>
                <span>
                                        <i class="fa-solid fa-circle"></i>
                                        SSD 1TB
                                    </span>

              </p>
              <p class="text-center color__primary x-m">38.000.000 đ</p>
            </div>
          </div>

        </div>
        <div class="w-100 d-flex justify-content-center">
          <button class="product__pay">Mua Ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
