<footer class="container-fluid p-3">
  <div class="row footer__body">
    <div class="col-lg-3">
      <p class="footer__tile">Moki Tech</p>
      <div class="d-flex justify-content-center flex-wrap w-75">
        <i style="font-size: 64px;" class="logo fa-brands fa-wolf-pack-battalion"></i>
        <p class="w-100 slogain text-center">Chân thành phục vụ từ 2010</p>
      </div>
      <div class="mt-3">
        <p class="socical__list">
                        <span class="socical__item facebook">
                            <i class="fa-brands fa-facebook"></i>
                        </span>
          <span class="socical__item instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </span>
          <span class="socical__item youtube">
                            <i class="fa-brands fa-youtube"></i>
                        </span>
        </p>
      </div>
    </div>
    <div class="col-lg-3">
      <p class="footer__tile">Liên Hệ</p>
      <p class="mb-2">
        <i class="color__primary fa-regular fa-envelope"></i>
        <span class="note mx-2">cskh@mokitech.vn</span>
      </p>

      <p class="mb-2 note">
        <i class="color__primary fa-solid fa-location-dot"></i>
        <span class="note mx-2">12 An Dương Vương, Phường Hải Minh, Quận Gò Vấp, TP.HCM</span>
      </p>
      <p class="mb-2 note"><span class="x-2 color__primary">0999.999.999</span> Tư vấn mua hàng</p>
      <p class="note"><span class="x-2 color__primary">0888.888.888</span> Tư vấn kỹ thuật</p>
    </div>
    <div class="col-lg-3">
      <p class="footer__tile">Hình Thức Thanh Toán</p>
      <div class="pay__list">
        <div class="pay__item">

        </div>
      </div>
      <hr>
      <div class="cong__thuong d-flex">
        <img class="d-block w-50" src="./assets/images/congthuong.png" alt="">
      </div>
    </div>
    <div class="col-lg-3">
      <p class="footer__tile">Góp Ý</p>
      <form action="" class="form__send">
        <label for="email__send" class="note">Email</label>
        <input type="text" placeholder="Nhập email hoặc số điện thoại" id="email__send" class="email__send">
        <label for="content__send" class="note">Nội dung</label>
        <textarea name="" id="" cols="30" rows="3" id="content__send" class="content__send"></textarea>
        <button class="btn__send">Gửi</button>
      </form>
    </div>
  </div>
  <div class="row footer__footer">
    <p class="text-center note">© 2012-2022 <span class="color__primary">Moki Tech</span></p>
  </div>
</footer>
